table.mdl-data-table.mdl-js-data-table
  tbody(data-bind="foreach: groups")
    tr
      td(data-bind="text: title")
      // ko foreach: melodies
      td(data-bind="component: {name: 'audio', params: $data }")
      // /ko
      td(data-bind="text: title")
// ko foreach: players
h5.mdl-badge(data-bind='attr: {"data-badge":score}, text: title')
// /ko