div(style='text-align:center')
  // ko with: players()[0]
  span.typo-styles__demo.mdl-typography--display-2.mdl-badge(data-bind='attr: {"data-badge": score}, text: title' style='float: left')
  // /ko
  span.typo-styles__demo.mdl-typography--display-3.mdl-badge Угадай мелодию
  // ko with: players()[1]
  span.typo-styles__demo.mdl-typography--display-2.mdl-badge(data-bind='attr: {"data-badge": score}, text: title' style='float: right')
  // /ko

table.mdl-data-table.mdl-js-data-table
  tbody(data-bind="foreach: groups")
    tr
      td(data-bind="text: title")
      // ko foreach: melodies
      td(data-bind="component: {name: 'audio', params: $data }")
      // /ko
      td(data-bind="text: title")
