button.gs-btn-big.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored(data-bind='click: answer, enable: allowAnswer')
  p.mdl-typography--display-2(data-bind='text:profile().title')
  p.mdl-typography--title(data-bind='text:profile().score')