button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(data-bind="click: join.bind(null, 'team1'), text:team1Text")
br
button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(data-bind="click: join.bind(null, 'team2'), text:team2Text")
br
button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(data-bind="click: join.bind(null, 'manager'), text:managerText")
br
button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(data-bind="click: join.bind(null, 'view'), text:viewText")
