form(action="#")
  fieldset.mdl-textfield.mdl-js-textfield
    input.mdl-textfield__input(type="text", id="password", data-bind="textInput: password" )
    label.mdl-textfield__label(for="password") Пароль