.gs-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gs-btn-big {
    min-width: 15em;
    min-height: 15em;
}

body.gs-view {
    background: url(/img/logo.png) no-repeat #eee;
    background-size: contain;
    background-position: 50%;
    /* color */
}

.mdl-data-table {
    background-color: transparent !important;
}

.mdl-data-table tbody tr:hover {
    background-color: transparent !important;
}